@model List<Category>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#">
                <img class="card-img-top" src="~/Images/Logos/@item.Logo" alt="" style="height:200px">
            </a>
            <div class="card-body">
                <p class="card-text">@item.Description</p>
                <h4 class="card-title" style="text-align:center">
                    <a asp-action="WatchProducts" asp-controller="CustomerHome">@item.Name</a>
                </h4>
            </div>
        </div>
    </div>
}

