@model List<Category>
@inject AppDbContext context
@{
    var MaxSale = context.Products.Max(x => x.SaleCount);
    Product ProductTop = context.Products.FirstOrDefault(el => el.SaleCount == MaxSale);
}

@foreach (var item in Model)
{
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a asp-action="WatchProducts" asp-controller="CustomerHome" asp-route-id="@item.Id">
                <img class="card-img-top" src="~/Images/Logos/@item.Logo" alt="" style="height:200px">
            </a>
            <div class="card-body">
                <p class="card-text">@item.Description</p>
                <h4 class="card-title" style="text-align:center">
                    <a asp-action="WatchProducts" asp-controller="CustomerHome" asp-route-id="@item.Id">
                        @item.Name
                    </a>
                </h4>
            </div>
        </div>
    </div>
}
@await Html.PartialAsync("_TopSaleProductView", ProductTop)

