@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>Bạn không đủ quyền để vào trang này</h2>
    <a asp-controller="CustomerHome" asp-action="Index">Bấm vào đây để trở về trang chủ</a>
</div>