@model List<Product>
@{
    int i = 0;
}

<div class="card card_border p-lg-5 p-3 mb-4">
    <div class="card-body py-3 p-0">
        @foreach (var item in Model)
        {
            if (i % 2 == 0)
            {
                <div class="row">
                    <div class="col-lg-6 align-self pr-lg-4">
                        <h3 class="block__title mb-lg-4">About Content Block</h3>
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusa ntium corrupti
                            neque sunt labore veritatis.
                        </p>
                        <p class="mb-lg-5 mb-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusa ntium corrupti
                            neque sunt
                            praesentium aut, labore veritatis. Eaque, similique aspernatur. Perferendis doloremque ut
                            praesentium vel voluptatum quasi dolor explicabo nobis ex?
                        </p>
                        <a href="#read" class="btn btn-style btn-primary"> Mua</a>
                        <a href="#more" class="btn btn-style border-btn"> Contact Us</a>
                    </div>
                    <div class="col-lg-6 pl-lg-4 mt-lg-0 mt-4">
                        <img src="~/Images/ProductImages/@item.ImagePath" alt="" class="img-fluid rounded" />
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-6 pr-lg-4">
                        <img src="~/Images/ProductImages/@item.ImagePath" alt="" class="img-fluid rounded" />
                    </div>
                    <div class="col-lg-6 align-self pl-lg-4 mt-lg-0 mt-4">
                        <h3 class="block__title mb-lg-4">Content Block with 2 buttons</h3>
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusa ntium corrupti neque sunt
                            praesentium aut, labore veritatis. Eaque, similique aspernatur. Perferendis doloremque ut
                            praesentium vel voluptatum quasi dolor explicabo nobis ex?
                        </p>
                        <p class="mb-lg-5 mb-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusa ntium corrupti
                            neque sunt labore veritatis.
                        </p>
                        <a href="#read" class="btn btn-style btn-primary mr-2"> Mua</a>
                        <a href="#more" class="btn btn-style border-btn"> Contact Us</a>
                    </div>
                </div>
            }
            { i++; }
        }

    </div>
</div>
